@font-face {
  font-family: SuezOne;
  src: url('../fonts/SuezOne-Regular.ttf');
}

@font-face {
  font-family: Chivo;
  src: url('../fonts/Chivo-Regular.ttf');
}

html {
  font-family: SuezOne;
  background-color: #f5f3ee;
  color: #4a4a4a;
  z-index: 1;
}

body {
  background-color: #f5f3ee;
  margin: 0;
  z-index: 3;
  overflow-x: hidden;
}

footer {
  padding-top: 3%;
  padding-bottom: 0.2%;
  color: #f5f3ee;
  background-color: #3d3834;
}

footer ul {
  list-style: none;
}

h3 {
  margin: 0;
}

.header {
  list-style-type: none;
  font: normal normal bold 16px/19px Chivo;
  height: 100px;
}

.header .navblock {
  display: block;
  list-style-type: none;
  width: -webkit-fill-available;
  margin-top: 0;
  margin-bottom: auto;
}

.header .navblock li {
  max-width: inherit;
}

.header .navblock img {
  float: left;
  width: 10%;
  padding-left: 2%;
  padding-top: 0.5%;
}

.header .navblock .links {
  padding-top: 1.4%;
  float: right;
  padding-left: 1%;
  padding-right: 1%;
  font-size: large;
}

.header .navblock .links a {
  text-decoration: none;
  color: #4a4a4a;
}

.heading2 {
  width: 70%;
  font-size: 400%;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  margin-top: 2%;
  width: 100%;
}

.banner img {
  width: 100%;
  overflow: scroll;
  margin-top: 3%;
}

.banner .SubTitle {
  text-align: center;
}

.banner .SubTitle p a button {
  border: none;
  font-size: x-large;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 3%;
  height: 80px;
  width: fit-content;
  border-radius: 60px;
  margin-bottom: 5%;
}

.title {
  margin-top: 2%;
  margin-bottom: 1%;
  color: #4a4a4a;
  font-size: 600%;
}

.topnav {
  display: none;
}

.links button {
  border: none;
  border-radius: 60px;
  height: 40px;
  width: 120px;
  background-color: #bcd8ee;
  font-size: large;
}

.buttons a {
  width: fit-content;
  height: inherit;
}

.buttons {
  margin-bottom: 3%;
}

button a {
  font-family: normal normal bold 16px/19px Chivo;
}

.buttons a button h3 {
  margin-top: auto;
  margin-bottom: auto;
}

#PackageChild {
  display: none;
  list-style-type: none;
  transform: translateX(-10%) translateY(56%);
  position: absolute;
}

#CaseStudChild {
  display: none;
  list-style-type: none;
  transform: translateX(22%) translateY(37%);
  position: absolute;
}

.content {
  display: contents;
}

.content img {
  height: auto;
  opacity: 1 !important;
}

.content p {
  font-family: Chivo;
}

.CSTitles {
  font-size: 300%;
}

.CSLinks {
  font-size: large;
  color: #4a4a4a;
  text-decoration: none;
}

.Style1 {
  position: relative;
  width: 140%;
  z-index: 1;
  right: 100%;
}

.Cap1 {
  position: absolute;
  width: 100%;
  padding: 8%;
  content: '';
  z-index: 1;
  transform: translateY(50%);
  border-radius: 0px 300px 300px 0px;
  background-color: rgba(95, 165, 212, 0.65);
  color: rgba(95, 165, 212, 0.65);
}

.CaseStudy1 {
  margin-top: 10%;
  padding: 2% 2%;
  border-radius: 300px 0px 0px 300px;
  margin-left: auto;
  margin-right: 0;
  z-index: 2;
  width: 80%;
  background-color: rgba(134, 200, 134, 0.65);
}

.Capsule1 {
  display: grid;
  grid-template-columns: auto auto;
}

.Capsule1 img {
  width: 90%;
}

.Capsule1 .content {
  width: 55%;
}

.Capsule1 img {
  margin-top: auto;
  margin-bottom: auto;
}

.CaseStudy2 {
  margin-left: 10%;
  margin-top: 10%;
}

.CaseStudy2 img {
  height: auto;
  width: 20%;
  position: absolute;
  transform: translateX(228%);
}

.CSText2 {
  width: 40%;
  font-family: Chivo;
  font-size: x-large;
  display: block;
}

.CSText {
  font-family: Chivo;
  font-size: x-large;
  display: block;
}

.CSText3 {
  width: 80%;
  font-family: Chivo;
  font-size: x-large;
  display: block;
}

.CaseStudy3 {
  margin-left: 50%;
  margin-top: 10%;
}

.CaseStudy3 img {
  height: auto;
  width: 20%;
  position: absolute;
  transform: translateX(-140%);
}

.ClientList {
  margin-top: 20%;
  text-align: center;
}

.WWD {
  color: white;
  background-color: #246087;
  padding-bottom: 5%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23397fac' fill-opacity='0.4'%3E%3Cpath opacity='1' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.WWD .img1 {
  width: 6%;
  margin-left: 15%;
  position: absolute;
}

.WWD .img2 {
  width: 10%;
  margin-left: 85%;
  position: absolute;
}

.WWD h2 {
  font-size: xx-large;
  padding-left: 11%;
  padding-top: 0.75%;
  padding-bottom: 0.75%;
  padding-right: 2%;
  border-radius: 0px 50px 50px 0px;
  font-family: Chivo;
  background-color: #86c886;
  width: fit-content;
  width: -moz-fit-content;
  margin-top: 5%;
  transform: translateY(50%);
}

.WWDContent {
  margin-top: 5%;
}

.WWDContent h1 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.WWDText {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-family: Chivo;
}

.WWD ul {
  color: rgba(134, 200, 134, 1);
  font-family: Chivo;
  width: 50%;
  margin-left: 28%;
  margin-right: auto;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  width: 60%;
}

.grid-item {
  width: 90%;
  height: 90%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
}

.grid-item img {
  width: inherit;
}

.cards {
  width: 78%;
  margin-left: 11%;
  margin-right: 11%;
  display: inline-block;
}

.cards a {
  text-decoration: none;
}

.CColumn {
  width: 46%;
  display: block;
  margin-left: 2%;
  float: left;
  min-height: inherit;
}

.card1,
.card2,
.card3,
.card4 {
  display: block;
  color: white;
  margin-bottom: 4%;
  padding: 2%;
  transition: 0.1s;
  width: 100%;
  border-radius: 30px;
}

.CTitles {
  font-size: 300%;
}

.card4 {
  background: radial-gradient(at top right, #fda520 73%, #d17f04 32px);
  margin-bottom: 4%;
}

.card3 {
  background-repeat: no-repeat;
  background-image: linear-gradient(#3292e0, #3292e0),
    linear-gradient(#007add, #007add);
  background-size: 100% 12%, 100%;
}

.card2 {
  background-repeat: no-repeat;
  background-image: linear-gradient(#bcd8ee, #bcd8ee),
    linear-gradient(#5fa5d4, #5fa5d4);
  background-size: 100% 90%, 100%;
}

.card1 {
  background: radial-gradient(at bottom left, #569656 73%, #86c886 32px);
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.075);
}

.container {
  padding: 2px 16px;
}

.container p {
  font-family: Chivo;
  font-size: 150%;
}

.Publications {
  margin-top: 10%;
}

.Publications h1 {
  margin-bottom: 5%;
  width: fit-content;
  width: -moz-fit-content;
  color: #f5f3ee;
  padding: 0.75%;
  padding-left: 10%;
  padding-right: 5%;
  border-radius: 0px 50px 50px 0px;
  text-align: right;
  background-color: #246087;
  font-family: Chivo;
}

.Insights {
  padding-top: 8%;
  padding-bottom: 8%;
  margin-top: 6%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  background-image: url('../images/1920px-19.svg');
  margin-bottom: 6%;
}

.InGrid {
  color: #f5f3ee;
  display: grid;
  grid-template-columns: 21% 21% 21% 21%;
  margin-top: 2%;
  margin-left: 8%;
  margin-right: 8%;
  grid-gap: 5%;
}

.InItem {
  width: 100%;
}

.InItem h2 {
  font-size: 250%;
  margin-bottom: 10%;
}

.InItem p {
  font-family: Chivo;
  font-size: large;
}

.Insights h1 {
  background-color: #569656;
  width: 20%;
  text-align: right;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border-radius: 0px 50px 50px 0px;
  padding-right: 2%;
  color: #f5f3ee;
}

.InTouch {
  margin-top: 15%;
  margin-bottom: 10%;
}

.InTouch h1 {
  margin-bottom: 5%;
  width: fit-content;
  width: -moz-fit-content;
  color: #f5f3ee;
  padding: 0.75%;
  padding-left: 10%;
  padding-right: 5%;
  border-radius: 0px 50px 50px 0px;
  text-align: right;
  background-color: #5fa5d4;
  font-family: Chivo;
}

footer ul li p a {
  text-decoration: none;
  color: #86c886;
}

.fotcrit {
  font-size: small;
  font-family: Chivo;
  text-align: right;
  padding-right: 2%;
}

.flist {
  margin-left: 2%;
  display: block;
}

.flist li p {
  font-family: Chivo;
}

.flist li p a {
  font-family: SuezOne;
}

.ficons {
  padding-left: 3%;
  display: none;
}

.ficons li a i {
  color: #86c886;
}

.ficons li {
  margin-bottom: 5%;
  font-family: Chivo;
}

.GIT {
  overflow-x: hidden;
  grid-template-columns: 50% 50%;
  display: none;
  color: white;
  width: 150%;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #246087;
  border-radius: 55% 55% 0% 0%;
  padding-bottom: 5%;
  font-size: x-large;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23397fac' fill-opacity='0.4'%3E%3Cpath opacity='1' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

form {
  font-family: Chivo;
  padding-top: 10%;
  display: inline-block;
  margin-left: 10%;
  width: 40%;
  margin-right: 0;
}

.GIT h2 {
  width: 70%;
  padding-top: 10%;
  padding-left: 30%;
  margin-left: 20%;
  margin-right: 0;
}

.fa-home {
  color: #86c886;
  float: right;
  padding-top: 1%;
  width: 17% !important;
  transform: translateY(-1500%);
  padding-right: 2%;
  top: 0;
}

form input,
form textarea,
form select {
  color: #f5f3ee;
  border-style: none none solid none;
  border-color: #f5f3ee;
}

form input,
form select {
  width: 49%;
}

form textarea {
  width: 100%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f5f3ee;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f5f3ee;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f5f3ee;
}

.CContent {
  width: 80%;
  padding-left: 15%;
  padding-bottom: 3%;
  padding-top: 4%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.CContent h1 {
  margin-bottom: 2.5%;
}

.CContent p {
  font-family: Chivo;
  font-size: x-large;
}

.CMiddle {
  padding-right: 5%;
  padding-top: 4%;
  width: 90%;
  border-radius: 0px 300px 300px 0px;
}

.CMiddle h2,
.CMiddle p {
  width: 90%;
}

.SBack {
  background-color: #246087;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23397fac' fill-opacity='0.4'%3E%3Cpath opacity='1' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #f5f3ee;
}

.SContent {
  width: 100%;
  padding-left: 15%;
  display: flex;
  padding-bottom: 4%;
  padding-top: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.Simg {
  position: absolute;
  width: 7%;
  margin-top: 3%;
}

.C1 {
  width: 26%;
}

.Pimg {
  border-radius: 0%;
  border: none;
  width: 88%;
  margin-top: -21%;
  border-radius: 300px;
}

.Img4 {
  border: solid 10px #86c886;
}

.Img3 {
  border: solid 10px #246087;
}

.C2 {
  width: 49%;
  margin-left: auto;
  margin-right: 25%;
}

.C2 h1 {
  margin-bottom: 6%;
}

.C2 p,
.C2 ul li {
  font-size: large;
  font-family: Chivo;
}

.C2 ul li {
  margin-left: 2.5%;
}

.RquesBtn {
  padding: 1.5% 2%;
  font-size: large;
  border-radius: 300px;
  margin-top: 5%;
  background-color: #246087;
}

.RquesBtn a {
  font-family: Chivo;
  text-decoration: none;
  color: #f5f3ee;
}

.InBtn {
  padding: 4% 10%;
  font-size: x-large;
  border-radius: 300px;
  margin-top: 15%;
  background-color: #569656;
}

.InBtn a {
  font-family: Chivo;
  text-decoration: none;
  color: #f5f3ee;
}

.SendBtn {
  border-style: none;
  background-color: #86c886;
  padding: 2% 5%;
  width: 30%;
  border-radius: 300px;
  font-size: x-large;
}

.centered {
  font-size: 500%;
  color: #f5f3ee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: tr anslate(-50%, -50%);
}

/*responsive page layout*/

@media only screen and (min-width: 1950px) {
  .CaseStudy3 {
    margin-left: 50%;
    margin-top: 15%;
  }

  .ClientList {
    margin-top: 20%;
    text-align: center;
  }

  .CSTitles,
  .CSTitles2 {
    font-size: 300%;
    width: 40%;
  }

  .CSText,
  .CSText2,
  .CSText3 {
    font-size: xx-large;
  }

  .fa-home {
    padding-top: 1%;
    width: 17% !important;
    transform: translateX(25%) translateY(-1200%);
  }
}

@media only screen and (max-width: 1450px) {
  .banner .SubTitle p a button {
    margin-top: 5%;
    border: none;
    font-size: xx-large;
    margin-left: 3%;
    height: 100px;
    width: fit-content;
    border-radius: 60px;
    margin-bottom: 5%;
  }

  .CSTitles,
  .CSTitles2 {
    font-size: 200%;
    width: 65%;
  }

  .content p {
    font-size: large;
  }

  .CSTitles {
    margin: 0%;
  }

  .CSText {
    width: 80%;
  }
}

@media only screen and (max-width: 1024px) {
  .banner img {
    overflow: scroll;
  }

  .banner .SubTitle p a button {
    font-size: x-large;
    height: 80px;
    width: fit-content;
  }

  .active {
    background-color: #f5f3ee;
    color: #f5f3ee;
  }

  .title {
    display: block;
    font-size: 480%;
  }

  .Capsule1 .content {
    padding-top: 2%;
  }

  .content p {
    font-size: medium;
    width: 80%;
  }

  .CSTitles {
    font-size: x-large;
  }

  .CSLinks {
    font-size: medium;
  }

  .WWD h2 {
    width: 17%;
  }

  .CTitles {
    font-size: 160%;
  }

  .container p {
    font-size: 150%;
  }
}

@media only screen and (max-width: 950px) {
  .navblock {
    display: none !important;
  }

  .topnav {
    display: block;
    overflow: hidden;
    background-color: #f5f3ee;
    position: relative;
  }

  .topnav #myLinks {
    display: none;
  }

  #myLinks a {
    text-align: center;
  }

  .topnav a {
    color: #86c886;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    background: #f5f3ee;
    display: block;
    color: #86c886;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 6px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: #86c886;
  }

  .active {
    color: white;
  }

  .topnav a img {
    width: 20%;
  }

  .topnav a:hover {
    background-color: #f5f3ee;
    color: #bcd8ee;
  }

  #MobPack {
    display: none;
    padding: 0;
    text-align: center;
    color: #86c886;
    list-style-type: none;
  }

  #MobPack li {
    margin-top: 2%;
  }

  .content h1 {
    font-size: 160%;
  }

  .content p {
    font-size: x-small;
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .CSLinks {
    font-size: medium;
  }

  .navblock {
    display: none !important;
  }

  #MobPack li {
    margin-top: 2%;
  }
}

@media only screen and (max-width: 425px) {
  .Capsule1 .content {
    width: 65%;
    transform: translateX(180%);
  }

  .Pimg {
    width: 120%;
  }

  .C2 {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .C2 h1 {
    font-size: medium;
  }

  .C2 p {
    font-size: small;
  }

  .container p {
    display: none;
  }

  .CSLinks {
    font-family: Chivo;
    font-size: medium;
  }

  .CSTitles {
    margin-bottom: 10%;
  }

  .title {
    font-size: 250%;
  }

  .banner .SubTitle p a button {
    width: fit-content;
    height: 60px;
    font-size: 90%;
  }

  .heading2 {
    font-size: 200%;
  }
  .topnav a img {
    width: 30%;
  }

  .topnav a.icon {
    top: 6px;
  }

  .CaseStudy2 img {
    transform: translateX(250%);
  }

  .CSTitles2 {
    font-size: larger;
    width: 60%;
  }

  .Publications {
    margin-top: 15%;
  }

  .CSText,
  .CSText2,
  .CSText3 {
    display: none;
  }

  .CColumn {
    width: 96%;
    display: block;
  }

  .card4 .CTitles {
    margin-top: 17%;
    margin-bottom: 17%;
  }

  .fotcrit {
    font-size: x-small;
  }

  .flist {
    display: none;
  }

  .ficons {
    display: block;
  }
}

@media only screen and (max-width: 424px) {
  .content div {
    margin-right: 7%;
  }

  .Capsule1 img {
    width: 100%;
    height: 100%;
  }

  .CSLinks {
    font-size: x-small;
  }
}

@media only screen and (max-width: 320px) {
  .CSTitles {
    width: 110%;
    margin: 0% 0%;
  }

  .CSLinks {
    font-size: x-small;
  }
}
